{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load time_filters %}

{% block head_title %}Received Job Offers{% endblock %}

{% block content %}
{% include 'jobseeker/navbar.html' %}

<main class="container-fluid bg-light px-0 flex-grow-1">
  <div class="container px-0 px-sm-3 my-4" style="max-width: 50rem;">
    <h2 class="ms-4 mb-3">
      <span class="position-relative">
        Job Offers Received
        <span class="position-absolute top-0 end-25 translate-middle badge border border-light rounded-circle p-0">
          <i class="fa fa-info-circle fs-6 text-muted" data-bs-toggle="tooltip" data-bs-placement="right"
            title="The job offers you have received from employers for your published resumes."></i>
        </span>
      </span>
    </h2>

    <!-- Nav header -->
    <nav class="card-header bg-white" aria-label="internal navigation">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'my_resumes' %}"
        class="text-decoration-none d-flex align-items-center text-muted fs-4"
          area-label="to my jobs">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">To my resumes</span>
        </a>
        <a href="{% url 'jobseeker_home' %}"
          class="text-decoration-none d-flex align-items-center text-muted fs-4"
          area-label="go to home page">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </nav>

    <div class="card mx-auto border-0 my-3 mt-1 p-3" >
      <div class="card-body p-0">
        {% if notifications %}
        <!-- csrf token -->
        <input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <!-- Mark all as read -->
        {% if user.unread_job_offer_notifications_count %}
          <form id="read_all_form" class="text-end mb-3" action="{% url 'job_offer_notifications_read_all' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn--royalpurple btn-sm py-0" type="submit" aria-label="mark all as read">
              <i class="fa fa-check"></i>
              Mark all as read
            </button>
          </form>
        {% endif %}

          <div class="accordion" id="accordionOffers">
            {% for notification in notifications %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                  <button class="accordion-button {% if not notification.is_read %}bg-warning{% endif %}" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true"
                    aria-controls="collapse-{{ forloop.counter }}">
                    {{ notification.job_offer.vacancy.title }}
                  </button>
                </h2>
                <div id="collapse-{{ forloop.counter }}"
                  class="accordion-collapse notification-collapse collapse {% if not notification.is_read %}show{% endif %}"
                  aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionOffers"
                    data-url="{% url 'job_offer_notification_toggle_read' notification.id %}"
                    data-is-read="{{ notification.is_read }}">

                  <div class="accordion-body">
                    <p>
                      The employer <strong>{{ notification.sender.profile.name }}</strong>
                       has offered you a job on the <strong>{{ notification.job_offer.offered_on|date:"jS M Y"}}</strong>
                    </p>

                    <!-- Cover Letter -->
                    {% if notification.job_offer.message %}
                    <div>
                      <div class="btn btn--royalpurple btn-sm py-0" role="button" data-bs-toggle="modal"
                        data-bs-target="#cover-letter-{{ forloop.counter }}" aria-label="view cover letter">
                        <i class="fa fa-envelope"></i>
                        View message
                      </div>
                      <!-- Cover Letter Modal -->
                      <div class="modal fade" id="cover-letter-{{ forloop.counter }}" tabindex="-1" aria-labelledby="coverLetterModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h6 class="modal-title text-muted" id="coverLetterLabel">Message from {{ notification.sender.profile.name }}</h6>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {{ notification.job_offer.message|linebreaks }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    <table class="table table-borderless">
                      <thead>
                        <tr class="text-muted">
                          <th scope="col">Vacancy Details</th>
                          <th scope="col">Yours Resume</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ notification.job_offer.vacancy.title }}</td>
                          <td>{{ notification.job_offer.resume.occupation }}</td>
                        </tr>
                        <tr>
                          <td>
                            <a href="{% url 'job_offer_vacancy_snapshot' notification.job_offer.id %}"
                            class="btn btn-outline-royalpurple btn-sm py-0 snapshot" aria-label="view vacancy snapshot">
                            <i class="fa fa-eye"></i>
                            <span class="ms-2"><span class="d-none d-sm-inline">View</span> Snapshot</span>
                            </a>
                          </td>
                          <td>
                            <a href="{% url 'job_offer_resume_snapshot' notification.job_offer.id %}"
                              class="btn btn-outline-royalpurple btn-sm py-0 snapshot" aria-label="view resume snapshot">
                              <i class="fa fa-eye"></i>
                              <span class="ms-2"><span class="d-none d-sm-inline">View</span> Snapshot</span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <h5 class="card-title">You have not received any job offers yet.</h5>
          <div class="m-3 mb-sm-1">
            <a href="{% url 'job_search' %}" class="btn btn-royalpurple py-1">
              <i class="fa fa-search"></i>
              <span class="ms-2">Search Jobs</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

<!-- Snapshot modal -->
{% include 'snapshot_modal.html' %}

{% include 'footer.html' %}
{% endblock %}
