{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="card shadow mx-auto mt-2 mt-sm-3 mt-md-4" style="max-width: 25rem;">
    <div class="card-body">
      <h3 class="card-title text-center">{% trans "Sign In" %}
        <p id="role-title"></p>
      </h3>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>
        {% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}
      </p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p class="card-subtitle mb-2">
        {% blocktrans %}
        If you have not created an account yet, <br> then please
        <a class="card-link" href="{{ signup_url }}">
          Sign Up</a> first.{% endblocktrans %}
      </p>
      {% endif %}
      <form class="login" id="login_form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button type="submit" class="primaryAction btn btn-info w-100 my-3 py-1">{% trans "Sign In" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}