{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid px-0 flex-shrink-0 my-auto">
  <div class="card bg-light border-0 mx-auto" style="max-width: 40rem;">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'jobseeker_profile' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="return to previous page">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a href="{% url 'jobseeker_home' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="go to jobeeker home page">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center">
        Change Password
      </h3>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
          <!-- TODO: Forgot a password -->
          <!-- <a class="me-2 mb-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
          <div class="float-end mt-3">
            <a href="{% url 'jobseeker_profile' %}" class="btn btn-outline-secondary py-1">Cancel</a>
            <button type="submit" name="action" class="btn btn-royalpurple mx-2 mx-sm-3 py-1">Change</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}