{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% include "background.html" %}


<div class="container-fluid px-0 flex-shrink-0 my-auto">
  <div class="card bg-light border-0 mx-auto" style="max-width: 40rem;">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'account_login' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="return to login page">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a href="{% url 'jobseeker_home' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="go to home page">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request
        a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="float-end mt-3">
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary py-1">Cancel</a>
          <button type="submit" name="action" class="btn btn-secondary mx-2 mx-sm-3 py-1">Reset My Password</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}