{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% include "background.html" %}

<div class="container-fluid px-0 flex-shrink-0 my-auto">
  <div class="card bg-light border-0 mx-auto" style="max-width: 40rem;">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'account_login' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="return to login page">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a href="{% url 'jobseeker_home' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="go to home page">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <h3>{% trans "Change Password" %}</h3>
      <p>{% trans 'Your password is now changed.' %}</p>
      <a href="{% url 'account_login' %}" class="btn btn-outline-success py-1">
        Login
      </a>
    </div>
  </div>
</div>
{% endblock %}