{% extends "base.html" %}

{% load static %}

{% block head_title %}Verify Your E-mail Address{% endblock %}

{% block content %}
{% include "background.html" %}

<div class="container-fluid px-0 flex-shrink-0 my-auto">
  <div class="card bg-light border-0 mx-auto" style="max-width: 40rem;">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{{request.META.HTTP_REFERER}}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="Jobseeker Home">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">Back</span>
        </a>
        <a href="{% url 'jobseeker_home' %}" class="text-decoration-none d-flex align-items-center text-muted fs-5"
          area-label="go to home page">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center">
        Verify Your E-mail Address
      </h3>
      <p>
        We have sent an e-mail to you for verification.
        <br>
        If you do not see the verification e-mail in your main inbox, check your spam folder.
        <br>
        Please contact us <a href="mailto:info.get.job.live@gmail.com">info.get.job.live@gmail.com</a>
         if you do not receive the verification e-mail within a few minutes or
         try to <a href="{% url 'account_login' %}">login</a> with your e-mail and password.
      </p>
    </div>
  </div>
</div>
{% endblock %}