{% extends "base.html" %}
{% load static %}
{% load form_filters %}
{% load time_filters %}

{% block content %}
{% include 'employer/navbar.html' %}

<main class="container">
  <!-- Hero Section -->
  <section class="row py-2 py-md-4 m-0 mb-4 mb-md-0 hero-container">
    <div class="col-md-5 my-3 px-5 px-md-1 my-md-auto">
      <!-- TODO alt -->
      <img class="img-fluid" src="{% static 'images/employer_hero.png' %}"
        alt="vector image: recruiters review resumes">
    </div>
    <div class="col-md-7 d-flex align-items-end flex-column justify-content-evenly">
      <div class="py-4 py-md-0 w-100">
        <h1 class="fs-2 pb-0 pb-lg-1 text-center text-sm-start text-md-end text-muted">Hire Faster, Hire Smarter</h1>
        <h2 class="fs-4 lead text-center text-md-end">List Your Job Opening Here</h2>
      </div>
      <a href="#" class="btn btn-outline-cyan-blue inset-shadow-cyan mt-2 mt-md-0 py-1 px-4 align-self-end">
        Post Job
      </a>
    </div>
  </section>

  <div class="bg-light rounded pb-3 mb-3">
    <!-- Search section -->
    <section class="py-5 search-container">
      <div class="text-center">
        <h2 class="text-muted">Find Your Next Top Talent</h2>
        <h5 class="lead">Enter Keywords, Desired Skills or Occupation</h4>
      </div>
      <div class="container px-md-5 pt-4 pt-lg-5 pb-1 pb-md-3 pb-lg-5 mx-auto">
        <form class="input-group" action="{% url 'resume_search' %}" method="GET">
          {{ form.keywords|update_placeholder:"e.g. ux design" }}
          <a class="btn btn-outline-cyan-blue" href="{% url 'resume_search' %}" aria-label="resume filter">
            <i class="fa-solid fa-sliders"></i>
            <span class="d-none d-sm-inline">Filter</span>
          </a>
          <button class="btn btn-cyan-blue" type="submit">Find Resume</button>
        </form>
      </div>
    </section>

    <!-- Vacancies section -->
    <section class="container resume-container g-1 g-sm-2 g-md-4">
      <h2 class="text-muted ps-3 mb-2 mb-md-3">Latest Resumes</h2>
      <div class="row row-cols-1 row-cols-xl-2 g-2">
        {% if resume_list %}
        {% for resume in resume_list %}
        <!-- ______resume card______ -->
        {% include "resumes/resume_card.html" %}
        {% endfor %}
      </div>
      {% else %}
      <h3 class="text-center text-muted">No resumes found</h3>
      {% endif %}
    </section>
  </div>
</main>
{% endblock content %}