<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="ResumeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h6>Are you sure you want to <span class="modal-action"></span> this resume?</h6>
        <span class="additional_msg"></span>
      </div>
      <div class="modal-footer">
        <form id="resume-modal-form" method="post" action="">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-outline-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>