{% load static %}
{% load time_filters %}

<div class="col">
  <div class="card h-100 resume-card">
    <div class="card-body position-relative">
      <h5 class="card-title col-8 py-mb-1 pb-lg-2 pb-xl-0 text-truncate--2">
        <a href="{% url 'resume_detail' resume.id %}" class="text-decoration-none stretched-link text-dark">
          {{ resume.occupation }}
        </a>
      </h5>
      <p class="col days-counter text-muted">
        <small>{{ resume.created_on|timeago }} ago</small>
      </p>
      <div class="row company-body my-2">
        <ul class="col-sm-9 list-group borderless">
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-cyan-blue fa fa-id-badge"></i>
              </span>
              <span class="text-truncate">
                {{ resume.jobseeker.profile.name }}
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-cyan-blue fa fa-history"></i>
              </span>
              <span>
                {{ resume.get_experience_duration_display }}
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-cyan-blue fa fa-cogs"></i>
              </span>
              <span class="text-truncate--2">
                {{ resume.skills }}
              </span>
            </div>
          </li>
        </ul>
        <div class="col-3 mx-auto my-auto text-center resume-card--img">
          <img src="{{ resume.jobseeker.profile.avatar.url }}" class="img-thumbnail"
            alt="profile picture" style="max-height: 70px;">
        </div>
      </div>
      <div class="d-flex">
        <p class="card-text text-truncate--3">
          {{ resume.body }}
        </p>
        <span class="mb-3 text-info align-self-end">
          <i class="fa fa-angles-right"></i>
        </span>
      </div>

    </div>
    <div class="card-footer border-top-0">
      <div class="d-flex justify-content-between px-3">
        <a href="#" class="btn-save btn--cyan-blue card-link">
          Save
        </a>
        <a href="#" class="btn btn-outline-cyan-blue card-link py-0 my-1">Hire</a>
      </div>
    </div>
  </div>
</div>