{% extends "base.html" %}
{% load time_filters %}

{% block content %}
{% include 'employer/navbar.html' %}
<main class="container py-3 px-0 flex-grow-1">
  <div class="card shadow">

    <!-- Resume detail header -->
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'resume_search' %}#{{ resume.id }}" class="text-decoration-none d-flex align-items-center text-muted fs-4">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">To resume search</span>
        </a>
        <div class="d-flex">
          {% if user.is_authenticated and user.role != 'EMPLOYER' %}
            <span data-bs-toggle="tooltip" data-bs-placement="left" title="Only employers can hire">
              <button class="btn btn-cyan-blue btn-sm px-sm-3 py-1 me-2 disabled">Hire</button>
            </span>
          {% else %}
            <a href="{% url 'job_offer' resume.id %}" class="btn btn-cyan-blue btn-sm px-sm-3 py-1 me-2">Hire</a>
          {% endif %}
          {% if user.is_authenticated and user.role == 'EMPLOYER' %}
            <form class="save-form" action="{% url 'resume_save_toggle' resume.id %}" method="post">
              {% csrf_token %}
              <button type="submit"
                class="btn btn-save{% if resume.is_saved %}--filled{% endif %} btn-sm btn--cyan-blue border cyan-border px-sm-3 py-1">
                <span>Save{% if resume.is_saved %}d{% endif %}</span>
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Resume already offered by the employer alert -->
    {% if resume.is_offered%}
    <div class="alert alert-cyan-blue rounded-0 py-1 mb-0">
      <strong>You already sent an offer for this resume {{ resume.offered_on|timeago }} ago!</strong>
      <a class="float-end ms-3" href="{% url 'my_job_offers' %}">See my job offers</a>
    </div>
    {% endif %}

    <!-- Resume detail body -->
    <div class="card-body position-relative py-4 px-3">
      {% include 'resumes/resume_detail_card_body.html' %}

      <!-- Bottom buttons panel -->
      <div class="d-flex align-items-center justify-content-between px-3 px-sm-4">
        {% if user.is_authenticated and user.role != 'EMPLOYER' %}
          <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only employers can hire">
            <button class="btn btn-cyan-blue px-3 px-sm-4 py-1 rounded-1 disabled">Hire</button>
          </span>
        {% else %}
          <a href="{% url 'job_offer' resume.id %}" class="btn btn-cyan-blue px-3 px-sm-4 py-1 rounded-1">Hire</a>
        {% endif %}
        <div class="d-flex fs-3">
          {% if user.is_authenticated and user.role == 'EMPLOYER' %}
            <form class="save-form" action="{% url 'resume_save_toggle' resume.id %}" method="post">
              {% csrf_token %}
              <button type="submit" aria-label="save resume button"
                class="btn-save{% if resume.is_saved %}--filled{% endif %} btn--cyan-blue card-link me-4 hover-grow">
              </button>
            </form>
          {% endif %}
          <div role="button" class="back-to-top d-flex align-items-center text-cyan-blue hover-grow" area-label="scroll to top">
            <i class="fa fa-arrow-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% include 'footer.html' %}
{% endblock %}