{% load time_filters %}
{% load cloudinary %}

<h2 class="card-title col-8 mb-1 mb-sm-2">{{ resume.occupation }}</h2>

{% if resume.updated_on %}
<p class="col days-counter text-muted">
  <small>{{ resume.updated_on|timeago }} ago</small>
</p>
{% else %}
<!-- non-breaking space -->
<p class="mb-1">&nbsp;</p>
{% endif %}

<!-- Profile Image for small screens -->
<div class="d-sm-none position-absolute top-0 end-0 me-4 mt-3">
  {% cloudinary  resume.jobseeker.profile.avatar style="max-height: 60px" class="img-thumbnail" alt="profile picture" %}
</div>

<!-- Main contant -->
<div class="px-sm-2">
  <!-- List Group -->
  <div class="row">
    <div class="col-12 col-sm-8 px-0">
      <ul class="list-group pb-2 borderless card-list">
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Name:</h6>
          <p class="my-0 overflow-auto text-truncate">{{ resume.jobseeker.profile.name }}</p>
        </li>
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Experience Duration:</h6>
          <p class="my-0 overflow-auto">{{ resume.get_experience_duration_display }}</p>
        </li>
        {% if resume.jobseeker.profile.gender %}
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Gender:</h6>
          <p class="my-0 overflow-auto">
            {% if user.role == 'EMPLOYER' or resume in user.resumes.all %}
              {{ resume.jobseeker.profile.get_gender_display }}
            {% else %}
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only visible to employers"
                aria-label="Only visible to employers" class="text-muted">
                <i class="fas fa-eye-slash"></i>
             </span>
            {% endif %}
          </p>
        </li>
        {% endif %}
        {% if resume.jobseeker.profile.dob %}
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Age:</h6>
          <p class="my-0 overflow-auto">
            {% if user.role == 'EMPLOYER' or resume in user.resumes.all %}
              {{ resume.jobseeker.profile.dob|timeago }}
            {% else %}
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only visible to employers"
                aria-label="Only visible to employers" class="text-muted">
                <i class="fas fa-eye-slash"></i>
              </span>
            {% endif %}
          </p>
        </li>
        {% endif %}
        {% if resume.jobseeker.profile.phone %}
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Phone:</h6>
          <p class="my-0 overflow-auto">
            {% if user.role == 'EMPLOYER' or resume in user.resumes.all %}
              {{ resume.jobseeker.profile.phone }}
            {% else %}
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only visible to employers"
                aria-label="Only visible to employers" class="text-muted">
                <i class="fas fa-eye-slash"></i>
              </span>
            {% endif %}
          </p>
        </li>
        {% endif %}
        <li class="list-group-item d-flex align-items-end">
          <h6 class="list-item-heading my-auto me-sm-4 flex-shrink-0">Email:</h6>
          <p class="my-0 overflow-auto">
            {% if user.role == 'EMPLOYER' or resume in user.resumes.all %}
              {{ resume.jobseeker.email }}
            {% else %}
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only visible to employers"
                aria-label="Only visible to employers" class="text-muted">
                <i class="fas fa-eye-slash"></i>
              </span>
            {% endif %}
          </p>
        </li>
      </ul>
    </div>
    <!-- Profile Image for large screens -->
    <div class="d-none d-sm-block col-4 mx-auto my-auto text-center">
      {% cloudinary  resume.jobseeker.profile.avatar style="max-height: 130px" class="img-thumbnail" alt="profile picture" %}
    </div>
  </div>

  <!-- Experience -->
  {% if resume.experience %}
  <div class="pt-2 px-0">
    <h5>Experience:</h5>
    <div>{{ resume.experience|linebreaks }}</div>
  </div>
  {% endif %}
  <!-- Education -->
  {% if resume.education %}
  <div class="pt-2 px-0">
    <h5>Education:</h5>
    <div>{{ resume.education|linebreaks }}</div>
  </div>
  {% endif %}
  <!-- Skills -->
  {% if resume.skills %}
  <div class="pt-2 px-0">
    <h5>Skills:</h5>
    <div>{{ resume.skills|linebreaks }}</div>
  </div>
  {% endif %}
  <!-- Description -->
  {% if resume.body %}
  <div class="pt-2 px-0">
    <h5>Description:</h5>
    <div>{{ resume.body|linebreaks }}</div>
  </div>
  {% endif %}
</div>

<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>