{% extends "base.html" %}

{% block content %}
{% include 'employer/navbar.html' %}
<main class="container py-3 px-0 flex-grow-1">
  <div class="card shadow">

    <!-- Job detail header -->
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'resume_search' %}#{{ resume.id }}" class="text-decoration-none d-flex align-items-center text-muted fs-4"
          area-label="to job search results">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">To resume search</span>
        </a>
        <div>
          <button class="btn btn-cyan-blue btn-sm px-3 px-sm-3 py-1 me-2">Hire</button>
          <button class="btn btn-save btn-sm btn--cyan-blue border cyan-border px-sm-2 py-1">
            Save
          </button>
        </div>
      </div>
    </div>

    <!-- Job detail body -->
    <div class="card-body position-relative py-4 px-3">
      {% include 'resumes/resume_detail_card_body.html' %}
      <!-- Bottom buttons panel -->
      <div class="d-flex align-items-center justify-content-between px-3 px-sm-4">
        <button class="btn btn-cyan-blue px-3 px-sm-4 py-1 rounded-1">Hire</button>
        <div class="d-flex fs-3">
          <!-- TODO add link to save -->
          <a href="#" class="btn-save btn--cyan-blue card-link me-4" aria-label="save job"></a>
          <div role="button" class="back-to-top d-flex align-items-center text-cyan-blue"
            area-label="scroll to top">
            <i class="fa fa-arrow-up"></i>
          </div>
        </div>
      </div>
    </div>

</main>

{% include 'footer.html' %}
{% endblock %}