// ___Navbar___

// expand dropdown menu to full width on small screens
@media screen and (max-width: 992px) {
  .dropdown {
    position: static;
  }
  .dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
    width: 100%;
  }
}

// Hide/Show navbar on scroll
// works togheter with hideShowNavbar() function in static js file

// fix navbar to top of screen
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
// hide navbar on scroll down
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
// show navbar on scroll up
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

// grow hover effect
.hover-grow {
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

// Custom Inputs

// inputs with custom color styles
@each $color-name, $color in $custom-colors {
  .#{$color-name}-input {
    &:focus {
      outline: none;
      border-color: $color;
      box-shadow: 0 0 0 $input-btn-focus-width rgba($color, 0.3);
    }
  }
}

// close/reset btn for search panel
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($secondary, 0.25);
  opacity: 1;
}

// ___Jobseeker Navbar___

// jobseeker dropdown menu
.jobseeker-dm {
  // change color of active dropdown item
  .dropdown-item {
    &.active,
    &:active {
      @include gradient-bg($royalpurple);
    }
  }
}

// ___Employer Navbar___

// employer dropdown menu
.employer-dm {
  // change color of active dropdown item
  .dropdown-item {
    &.active,
    &:active {
      @include gradient-bg($cyan-blue);
    }
  }
}

// change color of search bar input on focus
.cyan-input {
  &:focus {
    outline: none;
    border-color: $cyan-blue;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($cyan-blue, 0.3);
  }
}

// ______CARDS______
// remove list borders
.borderless li {
  border: none;
}

// Custom truncation
@for $i from 2 through 5 {
  .text-truncate--#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// override list-group-item padding
.vaccancy-card,
.resume-card {
  @include media-breakpoint-down(md) {
    .list-group-item {
      padding: 0.2rem $list-group-item-padding-x;
    }
  }
  @include media-breakpoint-between(md, xl) {
    .list-group-item {
      padding: 0.3rem $list-group-item-padding-x;
    }
  }
  @include media-breakpoint-up(xl) {
    .list-group-item {
      padding: 0.2rem $list-group-item-padding-x;
    }
  }
}

// justify text
.text-justify {
  text-align: justify !important;
}

// ______Vacansies cards______

// save button
// create save custom button color
@each $btn-name, $btn-color in $custom-colors {
  .btn--#{$btn-name} {
    color: $btn-color;
    &:hover {
      &::before {
        // filled heart icon
        font-weight: 900;
      }
      color: $btn-color;
    }
  }
}

.btn-save {
  &::before {
    // heart icon
    font-family: "Font Awesome 5 Free";
    content: "\f004";
  }
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.5rem;
  @include media-breakpoint-up(sm) {
    padding: 0.375rem 0.75rem;
  }
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-save--filled {
  @extend .btn-save;
  &::before {
    font-weight: 900;
  }
}

.royalpurple-border {
  border-color: $royalpurple !important;
  &:focus {
    outline: none;
    border-color: $royalpurple;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($royalpurple, 0.3);
  }
}

// clickable card
.inset-shadow-purple {
  box-shadow: inset 0 0 10px -6px $royalpurple !important;
}
.vaccancy-card:hover {
  box-shadow: 0 0 20px -10px $royalpurple;
  transition: all 0.3s ease-in-out;
}

// ___Resume cards___
.cyan-border {
  border-color: $cyan-blue !important;
  &:focus {
    outline: none;
    border-color: $cyan-blue;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($cyan-blue, 0.3);
  }
}

// clickable card
.inset-shadow-cyan {
  box-shadow: inset 0 0 10px -6px $cyan-blue !important;
}
.resume-card:hover {
  box-shadow: 0 0 20px -10px $cyan-blue;
  transition: all 0.3s ease-in-out;
}

// Collapsible search bar
#expand-search-btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

// Job details page
.card-list .list-item-heading {
  width: 8rem;
}

/* Divider https://codepen.io/isabelc/pen/MmrJgx*/
.astrodivider {
  margin: auto;
  width: 600px;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 10px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 3px $gray-600;
}

// Sign up/in Form divider
#divider::before {
  content: "";
  flex-grow: 1;
  margin-right: 8px;
  border-bottom: 1px solid $gray-300;
}
#divider::after {
  content: "";
  flex-grow: 1;
  margin-left: 8px;
  border-bottom: 1px solid $gray-300;
}

// age slider
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: $cyan-blue;
  font-weight: normal;
  color: #ffffff;
}

// Rememeber me checkbox
#div_id_remember {
  float: left;
}

// set toast color
.toast {
  --toast-bg-color: $light;
}

// set toast opacity withouth affecting child text
.toast::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--toast-bg-color);
  opacity: 0.1;
}

.toast > :first-child {
  position: relative;
  z-index: 1;
}

// My Resumes page
#my-resumes-table tbody tr {
  height: 70px;
}

// grow hover effect for resume control buttons
.hover-grow-resume-control {
  transition: all 0.1s ease-in-out;
  &:hover {
    i {
      transition: all 0.1s ease-in-out;
      transform: scale(1.2);
    }
  }
}

// set royalpurple for radio buttons in job apply form
#job-apply-form .form-check-input {
  &:checked {
    background-color: $royalpurple;
    border-color: $royalpurple;
  }
  &:focus {
    box-shadow: 0 0 0 $input-btn-focus-width rgba($royalpurple, 0.3);
  }
}

// set cyan-blue for radio buttons in job offer form
#job-offer-form .form-check-input {
  &:checked {
    background-color: $cyan-blue;
    border-color: $cyan-blue;
  }
  &:focus {
    box-shadow: 0 0 0 $input-btn-focus-width rgba($cyan-blue, 0.3);
  }
}

#snapshotModal {
  .card {
    z-index: 10;
  }
  .btn-close {
    z-index: 11;
  }
}