.jobseeker-dm {
  .dropdown-item {
    &.active,
    &:active {
      @include gradient-bg($royalpurple);
    }
  }
}

@media screen and (max-width: 992px) {
  .dropdown {
    position: static;
  }

  .dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
    width: 100%;
  }
}

.purple-input {
  &:focus {
    outline: none;
    border-color: $royalpurple;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($royalpurple, .3);
  }
}
