// Jobseeker Navbar

// jobseeker dropdown menu

.jobseeker-dm {
  // change color of active dropdown item
  .dropdown-item {
    &.active,
    &:active {
      @include gradient-bg($royalpurple);
    }
  }
}

// expand dropdown menu to full width on small screens
@media screen and (max-width: 992px) {
  .dropdown {
    position: static;
  }
  .dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
    width: 100%;
  }
}

// change color of search bar input on focus
.purple-input {
  &:focus {
    outline: none;
    border-color: $royalpurple;
    box-shadow: 0 0 0 $input-btn-focus-width rgba($royalpurple, .3);
  }
}

// Hide/Show navbar on scroll
// works togheter with hideShowNavbar() function in static js file

// fix navbar to top of screen
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
// hide navbar on scroll down
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
// show navbar on scroll up
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

// Vacansies cards

// remove list borders
.borderless li {
  border: none;
}

// Truncate card text to 3 lines
.custom-text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}