{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}" />

  <title>{% block title %}Get Job{% endblock %}</title>
</head>

<body>
  {% block content %}
  <!-- Content -->
  {% endblock content %}

  <script src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>