{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}" />

  <title>{% block head_title %}Get Job{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body class="d-flex flex-column vh-100">
  {% if messages %}
  <!-- django notification styled with bootstrap toast -->
  {% for message in messages %}
  <div class="position-fixed top-0 end-0 p-3 mt-5 me-sm-2" style="z-index: 11">
    <div class="toast shadow align-items-center position-relative" data-msg-tag="{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex text-black">
        <div class="toast-body w-100 d-flex justify-content-between">
          <span>{{ message | safe }}</span>
          <button type="button" class="btn-close ms-1 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% block content %}
  <!-- Content -->
  {% endblock content %}
  <footer class="mt-auto">
    <div class="bg-light border-top" style="height: 100px;"></div>
  </footer>
  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>