{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}" />

  <title>{% block head_title %}Get Job{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body class="d-flex flex-column vh-100">
  {% if messages %}
  <!-- django notification styled with bootstrap toast and modal -->
  {% for message in messages %}
  {% if 'modal' in message.extra_tags %}
  <!-- Modal message alert -->
    <div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center">
            <p>{{ message }}</p>
            <button type="button" class="btn btn-secondary text-center py-0" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
  <!-- Toast msg alert by default -->
    <div class="position-fixed top-0 end-0 p-3 mt-5 me-sm-2" style="z-index: 11">
      <div class="toast default-msg-toast shadow align-items-center position-relative" data-msg-tag="{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex text-black">
          <div class="toast-body w-100 d-flex justify-content-between">
            <span>{{ message | safe }}</span>
            <button type="button" class="btn-close ms-1 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% block content %}
  <!-- Content -->
  {% endblock content %}

  <!-- Logout modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalTitle">Sign Out</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to sign out?</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
            <button type="submit" class="btn btn-outline-danger">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>