<footer class="bg-light border-top">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h5>
          <a class="text-muted" href="{% url 'jobseeker_home' %}" style="text-decoration: none;">
            Get-Job.live
          </a>
        </h5>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 text-center">
        <p class="copyright py-0 my-0">
          <small>
            Copyright ©
            <span id="copyrightYear"></span>
            All rights reserved
          </small>
          <small class="d-block">
            Developed by
            <a class="text-royalpurple" href="https://www.linkedin.com/in/pavlo-myskov/"
              target="_blank" rel="noopener noreferrer">Pavlo Myskov</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>