<footer class="bg-light border-top">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h5>
          <a class="text-muted" href="{% url 'jobseeker_home' %}" style="text-decoration: none;">
            Get-Job.live
          </a>
        </h5>
        <nav class="btn-group btn-group-sm col-6 col-sm-4" role="group" aria-label="user role">
          <a href="{% url 'job_search' %}" class="btn btn-outline-royalpurple py-0" style="width: 2rem;"
            aria-current="job search">
            Jobs
          </a>
          <a href="{% url 'resume_search' %}" class="btn btn-outline-cyan-blue py-0" style="width: 2rem;">
            Resumes
          </a>
        </nav>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p class="copyright py-0 my-0">
          <span>
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </span>
          <span class="d-block">
            Developed by
            <a class="text-royalpurple" href="https://www.linkedin.com/in/pavlo-myskov/"
              target="_blank" rel="noopener noreferrer">Pavlo Myskov</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>