<!-- django notification styled with bootstrap toast -->
{% if messages %}
  <div class="position-fixed top-0 end-0 p-3 mt-5 me-sm-2" style="z-index: 11">
    {% for message in messages %}
      {% if not 'modal' in message.extra_tags %}
      <!-- Toast msg alert by default -->
        <div class="toast hide default-msg-toast shadow align-items-center position-relative mb-1"
            data-msg-tag="{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex text-black">
            <div class="toast-body w-100 d-flex justify-content-between">
              <span>{{ message | safe }}</span>
              <button type="button" class="btn-close ms-1 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}