{% extends "base.html" %}
{% load static %}
{% load time_filters %}

{% block content %}
{% include 'jobseeker/navbar.html' %}
<main class="container py-3">
  <div class="card">

    <!-- Job detail header -->
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'job_search' %}" class="text-decoration-none d-flex align-items-center text-muted fs-4"
          area-label="back to search results">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">Back</span>
        </a>
        <div class="">
          <button class="btn btn-royalpurple btn-sm px-sm-3 py-1 me-2">Apply</button>
          <button class="btn btn-save btn-sm border royalpurple-border px-sm-3 py-1">
            Save
          </button>
        </div>
      </div>
    </div>

    <!-- Job detail body -->
    <div class="card-body py-4 px-5">
      <h2 class="card-title">{{ vacancy.title }}</h2>
      <ul class="list-group" id="job-detail-list">
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Company:</h4>
            <p class="my-0">Company Name</p>
        </li>
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Area:</h4>
            <p class="my-0">{{ vacancy.get_area_display }}</p>
        </li>
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Salary:</h4>
            <p class="my-0">{{ vacancy.salary }}</p>
        </li>
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Job type:</h4>
            <p class="my-0">{{ vacancy.get_job_type_display }}</p>
        </li>
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Job location:</h4>
            <p class="my-0">{{ vacancy.get_job_location_display }}</p>
        </li>
        {% if vacancy.experience %}
        <li class="list-group-item d-flex align-items-end">
          <h5 class="my-auto me-4">Experience:</h4>
            <p class="my-0">{{ vacancy.experience }}</p>
        </li>
        {% endif %}
        <li class="list-group-item">
          <h5>Description:</h5>
          <p class="card-text">{{ vacancy.body }}</p>
        </li>
      </ul>

    </div>
</main>
{% endblock %}