{% extends "base.html" %}
{% load time_filters %}

{% block content %}
{% include 'jobseeker/navbar.html' %}
<main class="container py-3 px-0 flex-grow-1">
  <div class="card shadow">

    <!-- Job detail header -->
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'job_search' %}#{{ vacancy.id }}" class="text-decoration-none d-flex align-items-center text-muted fs-4"
          area-label="to search results">
          <i class="fa fa-arrow-left"></i>
          <span class="mx-2">To job search</span>
        </a>
        <div class="d-flex">
          {% if user.is_authenticated and user.role != 'JOBSEEKER' %}
            <span data-bs-toggle="tooltip" data-bs-placement="left" title="Only jobseekers can apply for jobs">
              <button class="btn btn-royalpurple btn-sm px-sm-3 py-1 me-2 disabled">Apply</button>
            </span>
          {% else %}
            <a href="{% url 'job_apply' vacancy.id %}" class="btn btn-royalpurple btn-sm px-sm-3 py-1 me-2">Apply</a>
          {% endif %}
          {% if user.is_authenticated and user.role == 'JOBSEEKER' %}
            <form class="save-form" action="{% url 'job_save_toggle' vacancy.id %}" method="post">
              {% csrf_token %}
              <button type="submit"
                class="btn btn-save{% if vacancy.is_saved %}--filled{% endif %} btn-sm btn--royalpurple border royalpurple-border px-sm-3 py-1">
                <span>Save{% if vacancy.is_saved %}d{% endif %}</span>
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Job already applied alert -->
    {% if vacancy.is_applied %}
    <div class="alert alert-royalpurple rounded-0 py-1 mb-0">
      <strong>You already applied for this job {{ vacancy.applied_on|timeago }} ago!</strong>
      <a class="float-end ms-3" href="{% url 'applied_jobs' %}">See my applications</a>
    </div>
    {% endif %}

    <!-- Job detail body -->
    <div class="card-body position-relative py-4 px-3">

      {% include "jobs/vacancy_detail_card_body.html" %}

      <!-- Bottom buttons panel -->
      <div class="d-flex align-items-center justify-content-between px-3 px-sm-4">
        {% if user.is_authenticated and user.role != 'JOBSEEKER' %}
          <span data-bs-toggle="tooltip" data-bs-placement="right" title="Only jobseekers can apply for jobs">
            <button class="btn btn-royalpurple px-3 px-sm-4 py-1 rounded-1 disabled">Apply</button>
          </span>
        {% else %}
          <a href="{% url 'job_apply' vacancy.id %}" class="btn btn-royalpurple px-3 px-sm-4 py-1 rounded-1">Apply</a>
        {% endif %}
        <div class="d-flex fs-3">
          {% if user.is_authenticated and user.role == 'JOBSEEKER' %}
            <form class="save-form" action="{% url 'job_save_toggle' vacancy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" aria-label="save job button"
                class="btn-save{% if vacancy.is_saved %}--filled{% endif %} btn--royalpurple card-link me-4 hover-grow">
              </button>
            </form>
          {% endif %}
          <div role="button" class="back-to-top d-flex align-items-center text-royalpurple hover-grow"
            area-label="scroll to top">
            <i class="fa fa-arrow-up"></i>
          </div>
        </div>
      </div>
    </div>

</main>

{% include 'footer.html' %}
{% endblock %}