{% load static %}
{% load time_filters %}

<div class="col">
  <div class="card h-100 vaccancy-card">
    <div class="card-body position-relative">
      <h5 class="card-title col-12 col-sm-8 py-mb-1 pb-lg-2 pb-xl-0 text-truncate">
        <a href="{% url 'job_detail' vacancy.id %}" class="text-decoration-none stretched-link text-dark">
          {{ vacancy.title }}
        </a>
      </h5>
      <p class="col days-counter text-muted">
        <small>{{ vacancy.created_on|timeago }} ago</small>
      </p>
      <div class="row company-body my-2">
        <ul class="col-8 list-group borderless">
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-royalpurple fa fa-building-user"></i>
              </span>
              <span class="text-truncate">
                <!-- TODO --> Company Name
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-royalpurple fa fa-location-dot"></i>
              </span>
              <span class="text-truncate">
                {{ vacancy.get_area_display }}
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <span class="text-center flex-shrink-0" style="width: 35px;">
                <i class="text-royalpurple fa fa-money-bills"></i>
              </span>
              <span class="text-truncate">
                {{ vacancy.salary }}
              </span>
            </div>
          </li>
        </ul>
        <div class="col-4 mx-auto my-auto text-center">
          <img src="{% static 'images/company-placeholder.png' %}" class="img-thumbnail" alt="company logo"
            style="max-height: 80px;">
        </div>
      </div>
      <div class="d-flex">
        <p class="card-text text-truncate--3">
          {{ vacancy.body }}
        </p>
        <span class="mb-3 text-royalpurple align-self-end">
          <i class="fa fa-angles-right"></i>
        </span>
      </div>

    </div>
    <div class="card-footer border-top-0">
      {% if user.is_authenticated and user.role == 'JOBSEEKER' %}
        <div class="d-flex justify-content-between px-3">
          <form class="save-job-form" action="{% url 'job_save_toggle' vacancy.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-save{% if saved %}--filled{% endif %} btn--royalpurple card-link">
              Save
            </button>
          </form>
          <a href="#" class="btn btn-outline-royalpurple card-link py-0 my-1">Apply</a>
        </div>
      {% else %}
        <a href="#" class="float-end btn btn-outline-royalpurple card-link py-0 my-1">Apply</a>
      {% endif %}
    </div>
  </div>
</div>