{% extends "base.html" %}
{% load static %}
{% load form_filters %}

{% block content %}
{% include 'jobseeker/navbar.html' %}

<main class="container">
  <!-- Hero Section -->
  <section class="row py-2 py-md-4 m-0 mb-4 mb-md-0 hero-container">
    <div class="col-md-7 order-1 order-md-0 d-flex align-items-start flex-column justify-content-evenly">
      <div class="py-4 py-md-0 w-100">
        <h1 class="fs-2 pb-0 pb-lg-1 text-center text-sm-start text-muted">Stand Out From the Crowd</h1>
        <h2 class="fs-4 lead text-center text-md-start">Create a Resume that Gets Noticed</h2>
      </div>
      <a href="#"
        class="btn btn-outline-royalpurple inset-shadow-purple mt-2 mt-md-0 py-1 align-self-end align-self-md-start">
        Create Resume
      </a>
    </div>
    <div class="col-md-5 my-3 px-5 px-md-1 my-md-auto order-0 order-md-1">
      <img class="img-fluid" src="{% static 'images/jobseeker_hero.png' %}"
        alt="vector image: recruiters review resumes">
    </div>
  </section>

  <div class="bg-light rounded pb-3">
    <!-- Search section -->
    <section class="py-5 search-container">
      <div class="text-center">
        <h2 class="text-muted">Let's Find Your Next Job</h2>
        <h5 class="lead">Type your desired Job Title</h4>
      </div>
      <div class="container px-md-5 pt-4 pt-lg-5 pb-1 pb-md-3 pb-lg-5 mx-auto">
        <form class="input-group" action="{% url 'job_search' %}" method="GET">
          {{ form.title|update_placeholder:"e.g. software developer" }}
          <a class="btn btn-outline-royalpurple" href="{% url 'job_search' %}" aria-label="job filter">
            <i class="fa-solid fa-sliders"></i>
            <span class="d-none d-sm-inline">Filter</span>
          </a>
          <button class="btn btn-royalpurple" type="submit">Find Job</button>
        </form>
      </div>
    </section>

    <!-- Vacancies section -->
    <section class="container vaccancy-container g-1 g-sm-2 g-md-4">
      <h2 class="text-muted ps-3 mb-2 mb-md-3">Latest Vacancies</h2>
      <div class="row row-cols-1 row-cols-xl-2 g-2">
        {% for vacancy in job_list %}
        <!-- ______vacancy card______ -->
        {% include "jobs/vacancy_card.html" %}
        {% endfor %}
      </div>
      <!-- TODO: Add Link "More" to redirect to /jobs -->
    </section>
  </div>
</main>
{% endblock content %}