{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="d-inline-block align-text-top" src="{% static 'images/icons8-job-seeker.png' %}" alt="briefcase logo" width="36" height="30">
      <span class="d-none d-sm-inline text-royalpurple">Get Job</span>
    </a>
    <div class="btn-group btn-group-sm col-6 col-sm-4" role="group" aria-label="user role">
      <a href="#" class="btn btn-royalpurple active py-1" aria-current="Jobseeker">Jobseeker</a>
      <a href="#" class="btn btn-outline-royalpurple py-1">Employer</a>
    </div>
    {% if not user.is_authenticated %}
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-royalpurple px-2 px-sm-4" href="#" aria-label="notifications">
            <i class="fa-regular fa-bell fs-5"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-royalpurple px-1 px-sm-2" aria-label="profile dropdown menu"
           data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <i class="fa-solid fa-user fs-5"></i>
          </a>
          <ul class="dropdown-menu jobseeker-dm dropdown-menu-end" aria-labelledby="jobseeker profile dropdown menu">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li><a class="dropdown-item" href="#">Search for Jobs</a></li>
            <li><a class="dropdown-item" href="#">My Applications</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">LogOut</a></li>
          </ul>
        </li>
      </ul>
    {% else %}
      <div class="nav-item">
        <a class="nav-link text-royalpurple" href="#" aria-label="Sign In/Sign Up">
          <i class="fa-solid fa-right-to-bracket fs-5"></i>
          <span class="d-none d-sm-inline align-text-bottom">Sign In/Sign Up</span>
        </a>
      </div>
    {% endif %}
  </div>
</nav>
{% endblock content %}